.form__input-container {
  width: 358px;
  margin: 0 auto 48px;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 600px) {
  .form__input-container {
    width: 238px;
    margin: 0 0 45px;
  }
}
